@model IEnumerable<Vidly.Models.Customer>
@{
    ViewData["Title"] = "Customers";
}

<h2 class="mb-4">Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#customers").DataTable({
                respinsive: true,
                autoWidth: false,
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>"
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data){
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>"
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function() {
                var button = jQuery(this);

                bootbox.confirm({
                    closeButton: false,
                    message: "Are you sure you want to delete this customer?", 
                    callback: function (result) {
                        if (result){
                             $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function(){
                                button.parents("tr").remove();
                            }
                        });
                        }
                    }   
                });
            });
        });
    </script>
}
